@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata.ttf') format('truetype');
  font-weight: 400;
}

body
{
    background-color: rgb(40, 45, 63);
    color: rgb(186, 197, 212);
    font-family: 'Inconsolata';
}

.property-flex-container
{
    display: flex;
    gap: 10px;
    align-items: center;
}