
:root {
    --background-color: #383838;
    --sidebar-background-color: #383838;
    --body-text-color: #383838;
    --link-text-color: #383838;
    --secondary-text-color: #383838;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inconsolata.ttf') format('truetype');
    font-weight: 550;
}

*
{
    font-family: 'Inconsolata' !important;
}

body, div.large.ic-Dashboard-header__layout, [data-cid="Pill"] *, [data-cid="Checkbox"] *, span.Grouping-styles__title, div.PlannerHeader, [data-cid="Heading"], div.EmptyDays-styles__nothingPlannedContent, button#planner-today-btn *, div.header-bar, nav#breadcrumbs, div#course_show_secondary *, div.item-group-container, div.ig-row, button.btn, span.css-110mfqp-view-flexItem > label > span > span, button#mark_all_announcement_read *, div.module-sequence-footer-content, span.css-1ta5ds2-baseButton__content, span.css-j7s35e-formFieldLayout__children > span, a.btn
{
    background-color: var(--background-color) !important;
}

div::after, span::after, a.Grouping-styles__hero
{
    background-image: none !important;
}

header#header, div.ig-header, div.navigation-tray-container, h2[data-cid="Heading"].css-16qi47e-view-heading
{
    background-color: var(--sidebar-background-color) !important;
}

p, h1, h2, h3, span.hidden-phone, div.EmptyDays-styles__nothingPlanned, [data-cid="InlineListItem"], div.planner-day > div > span, span.name, input[name="announcements_search"]
{
    color: var(--body-text-color) !important;
}

h2[data-cid="Heading"], div[data-testid="planner-item-raw"], div.ic-Dashboard-header__layout
{
    border-bottom-color: var(--secondary-text-color) !important;
}

a, button, span.Grouping-styles__title
{
    color: var(--link-text-color) !important;
}

a.ic-app-header__logomark, div.ic-app-header__logomark-container
{
    background-image: none !important;
    background-color: var(--sidebar-background-color) !important;
    width: 0px;
    height: 0px;
}

div.ToDoSidebarItem, div.PlannerHeader button *, [data-cid="BaseButton IconButton"] *, i.icon-document, div.ig-details *, i.icon-mini-arrow-down, div.prerequisites, ul.pill, span.ic-section-tooltip, div.ic-item-row__content-container, svg.css-1uh2md0-inlineSVG-svgIcon, input[name="announcements_search"]::placeholder, span.css-11xkk0o-baseButton__children, span[data-testid="friendly-date-time"], span.css-mvoync-textInput__afterElement, i.icon-document, i.icon-paperclip, i.icon-discussion, i.icon-quiz, i.icon-link, i.icon-assignment, div.css-8bodfv-text, :not(a) > div.css-1jyml41-text
{
    color: var(--secondary-text-color) !important;
}

button#planner-today-btn *, div#course_show_secondary *, div.item-group-container *, button.btn, input[name="announcements_search"], span.css-j7s35e-formFieldLayout__children > span, button#mark_all_announcement_read > span, span.css-1ta5ds2-baseButton__content, a.btn
{
    border-color: var(--secondary-text-color) !important;
}

span.name
{
    text-shadow: none !important;
}

ul.pill
{
    box-shadow: none !important;
}